.card{
    border: 1px solid gray;
    border-radius: 5px;
    margin:15px 500px 15px 500px;
    align-content: center;
}
.card-head{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.name{
    margin-left: 15px;
    flex-direction: column;
}
.threeDot{
    align-self: center;
    margin-left: auto;
    margin-right: 15px;
}
.post-image{
    width:477px;
    height:477px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.action{
    display: flex;
    color: gray;
}
.heart{
    margin-left: 15px;
    margin-right: 15px;
}
.date{
    margin-left: auto;
    margin-right: 15px;
}

.likes{
    color:gray;
    margin-left: 15px;
    margin-bottom: 5px;
}
.description{
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 15px;
}

