.head{
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
}
.logo{
    width:250px;
    margin-left: 15px;
}
.camera{
  margin-left: auto;
  align-self: center;
  margin-right: 45px;
}
#but{
  border: 1px solid white;
  background-color: white;
}